{
  "openapi": "3.0.3",
  "info": {
    "title": "Ranksy API",
    "version": "1.0.0",
    "description": "Read-only REST API exposing Shopify partner metrics, App Store rankings, reviews and traffic analytics for the apps a Ranksy team tracks. Ranksy is the SaaS that Shopify app developers use to observe their apps; this API serves the same data programmatically.",
    "contact": {
      "name": "Ranksy",
      "url": "https://api.ranksyapp.com"
    }
  },
  "servers": [
    {
      "url": "https://ranksyapp.com/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/apps/{app}/active-trials": {
      "get": {
        "operationId": "v1.activeTrials",
        "tags": [
          "ActiveTrials"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "The app ulid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_test",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ActiveTrialsObjectResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveTrialsObjectResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app}/keywords/ad-performance": {
      "get": {
        "operationId": "v1.adKeywordPerformance",
        "tags": [
          "AdKeywordPerformance"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "The app ulid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "min_pageviews",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "nullable": true
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "installs",
                "pageviews",
                "conversion_rate",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`AdKeywordPerformanceObjectResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdKeywordPerformanceObjectResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app}": {
      "get": {
        "operationId": "v1.appOverview",
        "tags": [
          "AppOverview"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "The app ulid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`AppDetailResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppDetailResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found — the addressed app / category / keyword does not exist or is not tracked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps": {
      "get": {
        "operationId": "v1.apps",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "nullable": true
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "nullable": true
            }
          },
          {
            "name": "filter[name]",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 255,
              "nullable": true
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "nullable": true
            }
          },
          {
            "name": "filter[built_for_shopify]",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `AppResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app}/keywords/cannibalization": {
      "get": {
        "operationId": "v1.cannibalization",
        "tags": [
          "Cannibalization"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "The app ulid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`CannibalizationObjectResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CannibalizationObjectResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app}/capi": {
      "post": {
        "operationId": "v1.capiSignals",
        "description": "Stores the latest known match keys (email, phone, name, zip, geo, IP,\nuser agent) for an already-identified installation. Ranksy hashes and\nnormalizes them per platform at send time — send raw values.\n\nRequires an existing installation: call /identify first.",
        "summary": "Push merchant identity and session signals for one shop",
        "tags": [
          "CapiSignals"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "The app ulid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreCapiSignalsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "accepted": {
                          "type": "boolean"
                        },
                        "shop_id": {
                          "type": "integer",
                          "nullable": true
                        },
                        "stored": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "accepted",
                        "shop_id",
                        "stored"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "accepted": {
                          "type": "boolean"
                        },
                        "shop_id": {
                          "type": "integer",
                          "nullable": true
                        },
                        "stored": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "minItems": 0,
                          "maxItems": 0,
                          "additionalItems": false
                        }
                      },
                      "required": [
                        "accepted",
                        "shop_id",
                        "stored"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/catalog/apps/{slug}": {
      "get": {
        "operationId": "v1.catalogApp",
        "tags": [
          "CatalogApp"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "summary = basic stats; listing = full listing content; all = everything.",
            "schema": {
              "type": "string",
              "enum": [
                "summary",
                "listing",
                "all",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "compare",
            "in": "query",
            "description": "Comma-separated extra slugs to batch-lookup alongside the {slug}.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`CatalogAppCollection`\n\n`CatalogAppResource`",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/CatalogList"
                    },
                    {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/apps/{slug}/rankings": {
      "get": {
        "operationId": "v1.catalogAppRankings",
        "tags": [
          "CatalogAppRankings"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "categories",
                "keywords",
                "all",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`CatalogAppRankingsResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogAppRankingsResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/apps/{slug}/reviews": {
      "get": {
        "operationId": "v1.catalogAppReviews",
        "tags": [
          "CatalogAppReviews"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rating",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5,
              "nullable": true
            }
          },
          {
            "name": "sentiment",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "positive",
                "negative",
                "neutral",
                "mixed",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `CatalogReviewRowResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogAppReviewsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/categories": {
      "get": {
        "operationId": "v1.catalogCategories",
        "tags": [
          "CatalogCategories"
        ],
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "avg_rating",
                "apps_count",
                "total_reviews",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "min_apps",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "nullable": true
            }
          },
          {
            "name": "parent_only",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `CatalogCategoryStatResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogCategoriesCollection"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/categories/{handle}/insights": {
      "get": {
        "operationId": "v1.catalogCategoryInsights",
        "tags": [
          "CatalogCategoryInsights"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "insight_type",
            "in": "query",
            "description": "overview = rating/sentiment distributions; complaints = pain\npoints / missing features; features = common + loved features.",
            "schema": {
              "type": "string",
              "enum": [
                "overview",
                "complaints",
                "features",
                null
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`CatalogCategoryInsightsResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogCategoryInsightsResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/categories/{handle}/reviews": {
      "get": {
        "operationId": "v1.catalogCategoryReviews",
        "tags": [
          "CatalogCategoryReviews"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rating",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5,
              "nullable": true
            }
          },
          {
            "name": "sentiment",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "positive",
                "negative",
                "neutral",
                "mixed",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `CatalogReviewRowResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogCategoryReviewsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/guidelines": {
      "get": {
        "operationId": "v1.catalogGuidelines",
        "tags": [
          "CatalogGuidelines"
        ],
        "parameters": [
          {
            "name": "include_anti_patterns",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 255,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`CatalogGuidelinesResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogGuidelinesResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/keywords/{keyword}/apps": {
      "get": {
        "operationId": "v1.catalogKeywordApps",
        "tags": [
          "CatalogKeywordApps"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`CatalogKeywordRankingsResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogKeywordRankingsResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/movers": {
      "get": {
        "operationId": "v1.catalogMovers",
        "tags": [
          "CatalogMovers"
        ],
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "gainers",
                "losers",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "nullable": true
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 255,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`CatalogTopMoversResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogTopMoversResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/search": {
      "get": {
        "operationId": "v1.catalogSearch",
        "tags": [
          "CatalogSearch"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "apps",
                "categories",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `CatalogSearchHitResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSearchCollection"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/apps/{slug}/similar": {
      "get": {
        "operationId": "v1.catalogSimilarApps",
        "tags": [
          "CatalogSimilarApps"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `CatalogSimilarAppRowResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSimilarAppsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/updates": {
      "get": {
        "operationId": "v1.catalogUpdates",
        "tags": [
          "CatalogUpdates"
        ],
        "parameters": [
          {
            "name": "update_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "pricing",
                "features",
                "listing",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "nullable": true
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 255,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`CatalogRecentUpdatesResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogRecentUpdatesResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/categories/{handle}": {
      "get": {
        "operationId": "v1.category",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "insight_type",
            "in": "query",
            "description": "overview = rating/sentiment distributions; complaints = pain points\n/ missing features; features = common + loved features.",
            "schema": {
              "type": "string",
              "enum": [
                "overview",
                "complaints",
                "features",
                null
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`CategoryResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found — the addressed app / category / keyword does not exist or is not tracked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/categories/{handle}/rankings": {
      "get": {
        "operationId": "v1.categoryRankings",
        "tags": [
          "CategoryRankings"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "rank = scraped category rank ascending; rating / reviews = descending.",
            "schema": {
              "type": "string",
              "enum": [
                "rank",
                "rating",
                "reviews",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "nullable": true
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `CategoryRankingRowResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryRankingsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found — the addressed app / category / keyword does not exist or is not tracked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app}/churn": {
      "get": {
        "operationId": "v1.churnAnalysis",
        "tags": [
          "ChurnAnalysis"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "The app ulid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "months",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12,
              "nullable": true
            }
          },
          {
            "name": "include_test",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ChurnAnalysisObjectResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChurnAnalysisObjectResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app}/churned-customers": {
      "get": {
        "operationId": "v1.churnedCustomers",
        "tags": [
          "ChurnedCustomers"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "The app ulid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "months",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12,
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "nullable": true
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `ChurnedCustomerResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChurnedCustomersCollection"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/commissions": {
      "get": {
        "operationId": "v1.affiliate.commissions.index",
        "tags": [
          "Commissions"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "nullable": true
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "nullable": true
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "signup",
                "percent",
                "install",
                "custom",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "amount",
                "created_at",
                null
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `AffiliateCommissionResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCommissionCollection"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app}/listing/competitors": {
      "get": {
        "operationId": "v1.competitorListings",
        "tags": [
          "CompetitorListings"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "The app ulid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "competitor_ids[]",
            "in": "query",
            "schema": {
              "type": "string",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`CompetitorListingsResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitorListingsResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app}/competitors": {
      "get": {
        "operationId": "v1.competitors",
        "tags": [
          "Competitors"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "The app ulid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Whitelist guards the in-memory sort: only these tokens are accepted,\neach mapped to a stable column in sortColumn(). Anything else → 422.",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "reviews",
                "rating",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "nullable": true
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `CompetitorResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitorsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found — the addressed app / category / keyword does not exist or is not tracked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app}/traffic/funnel": {
      "get": {
        "operationId": "v1.conversionFunnel",
        "tags": [
          "ConversionFunnel"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "The app ulid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "include_test",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ConversionFunnelObjectResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionFunnelObjectResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app}/ltv/customers": {
      "get": {
        "operationId": "v1.customerLtv",
        "tags": [
          "CustomerLtv"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "The app ulid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ltv",
                "current_mrr",
                "installed_at",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "nullable": true
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `CustomerLtvResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLtvCollection"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app}/customers/{installation}/notes": {
      "get": {
        "operationId": "customerNotes.index",
        "tags": [
          "CustomerNotes"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "installation",
            "in": "path",
            "required": true,
            "description": "The installation ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "author": {
                            "type": "string",
                            "nullable": true
                          },
                          "remind_at": {
                            "type": "string",
                            "nullable": true
                          },
                          "remind_user_id": {
                            "type": "integer",
                            "nullable": true
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "body",
                          "author",
                          "remind_at",
                          "remind_user_id",
                          "created_at",
                          "updated_at"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "customerNotes.store",
        "tags": [
          "CustomerNotes"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "installation",
            "in": "path",
            "required": true,
            "description": "The installation ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "body": {
                    "type": "string",
                    "maxLength": 10000,
                    "nullable": true
                  },
                  "remind_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "remind_user_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "remind_email": {
                    "type": "string",
                    "format": "email",
                    "nullable": true
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app}/customers/{installation}/notes/{note}": {
      "put": {
        "operationId": "customerNotes.update",
        "tags": [
          "CustomerNotes"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "installation",
            "in": "path",
            "required": true,
            "description": "The installation ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "note",
            "in": "path",
            "required": true,
            "description": "The note ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "body": {
                    "type": "string",
                    "maxLength": 10000,
                    "nullable": true
                  },
                  "remind_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "remind_user_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "remind_email": {
                    "type": "string",
                    "format": "email",
                    "nullable": true
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "body": {
                          "type": "string"
                        },
                        "author": {
                          "type": "string",
                          "nullable": true
                        },
                        "remind_at": {
                          "type": "string",
                          "nullable": true
                        },
                        "remind_user_id": {
                          "type": "integer",
                          "nullable": true
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "title",
                        "body",
                        "author",
                        "remind_at",
                        "remind_user_id",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "customerNotes.destroy",
        "tags": [
          "CustomerNotes"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "installation",
            "in": "path",
            "required": true,
            "description": "The installation ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "note",
            "in": "path",
            "required": true,
            "description": "The note ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app}/customer-tags": {
      "get": {
        "operationId": "customerTags.index",
        "tags": [
          "CustomerTags"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "The app ulid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 64,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `CustomerTagRowResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTagsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid API key, or missing_team_scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "insufficient_permissions — the key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "validation_failed — bad query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app}/customer-tags/customers": {
      "get": {
        "operationId": "customerTags.customers",
        "tags": [
          "CustomerTags"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "The app ulid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "all",
                null
              ],
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
[...]
